body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.top-nav {
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.left {
 display: flex;
 color: yellow;
 letter-spacing: 1px;
 
 border-right: 1px solid rgb(141, 135, 135);
 }

 .right {
  display: flex;
  align-items: right;
  /* margin-left: 5px; */
  padding: 0.2rem;
  }

.center {
  display: flex;
  color: yellow;
  }

.nav {
    display: flex;
    background-color: black;
    align-items: center;
    }

.ul, li {
    display: flex;
    list-style: none;
    display: inline-block;
    border-left: 1px solid grey;
    align-items: center;
    
  }

.ul, li, a {
    display: flex;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    margin: 5px;
    padding-left: 2px;
     }

.ul, li, a:hover{
        color: rgb(173, 116, 31);
        font-weight: bold;
        font-size: 13px;
       }
.slider {
  display: flex;
  justify-content: center;
  background-color: grey ;
  }

.inner{
  display: flex;
  margin-top: 20px;
  border: 1px solid black;
  justify-content: center;
  }

.inner-mid {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.text {
  display: flex;
  border: 1px solid red;
  }

.img {
  display: flex;
  border: 1px solid green;
  flex-wrap: wrap;
   }
  
  .outer-container{
      display: flex;
      /* border: 1px solid black; */
      justify-content: center;
  }
  
  .container {
      display: flex;
      /* border: 1px solid black; */
      /* background-color: green; */
      width: 90%;
      }
  
  .leftside {
      display: flex;
      flex-direction: column;
      /* background-color: red; */
      width: 55%;
      justify-content: space-between;
      }
  
  .rightside {
      display: flex;
      /* background-color: blue; */
      color: yellow;
      width:45%;
      gap: 0.5rem;
      margin-top: 10px;
      padding: 1rem;
      }
  
  .leftsideimg {
      display: flex;
      gap: 1rem;
  }
  .leftsideimg img {
     max-width: 100%;
     max-height: 100%;
  }
  
  .prees {
      display:flex;
      list-style: none;
      padding-right: 20px;
      justify-content: space-between;
       }
  
  .prees> li {
      display: inline-block;
      border-left: none;
      color: rgb(231, 220, 98);
  }
  
  .tcenter {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: center;
      padding-top: 20px;
      letter-spacing: 4px;
      font-size: 50px; 
  }
  
  .center1 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      }
  
  .center1 img {
      border: 1px solid grey;
      flex-wrap: wrap;
  }

  .mid-edg {
    display: flex;
    margin-top: 20px;
    background-color: rgb(36, 33, 33);
    min-height: 700px;
    justify-content: center;
    }

  .mid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    gap: 20px;
    
  }

 .mid-vid {
  color: aliceblue;
  max-width: 50%;
  
 }

 .mid-txt {
  color: rgb(82, 83, 85);
  background-color: aliceblue;
  max-width: 40%;
  padding: 2rem;
  text-align: justify;
  line-height: 25px;
   }

.pdiv {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: rgb(247, 240, 240);
}

.ptxt {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    /* padding-top: 20px; */
    letter-spacing: 4px;
    font-size: 50px;
    }
